<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success {
            color: rebeccapurple;
            background-color: aquamarine;
        }
    </style>
</head>
<body>
    <h2>profile page of </h2>
    <h3> {{name}} </h3>
    {% for message in messages %}
        <span class="{{ message.tags}}">{{ message.tags }} : {{ message }}</spanclass>
    {% endfor %}
    <br>
    <a href="{% url 'logout' %}">logout User</a>
    <br>
    <a href="{% url 'changepass' %}">Change password with old password  </a>
    <br>
    <a href="{% url 'changepass1' %}">Change password without old password  </a>
    
</body>
</html>